#                   
# This source file is part of the Apodini open source project
# 
# SPDX-FileCopyrightText: 2021 Paul Schmiedmayer and the project authors (see CONTRIBUTORS.md) <paul.schmiedmayer@tum.de>
# 
# SPDX-License-Identifier: MIT
# 

name: REUSE Compliance Check

on:
  push:
    branches:
      - develop
      - feature/release0.1.0
  pull_request:
  workflow_dispatch:

jobs:
  reuse:
    name: REUSE Compliance Check
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v1
